<p style="color: green"><%= notice %></p>

<%= render @movement %>

<div>
  <%= link_to "Edit", edit_movement_path(@movement) %> |
  <%= link_to "Back", movements_path %>

  <%= button_to "Delete", @movement, method: :delete %>
</div>
